body {
	background-color: #bada55;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 20px 0px 40px white;
	max-width: 700px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 20px;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 60px;
}

h2 {
	text-align: center;
	color: blue;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
}

h3 {
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
}

h3:hover {
		cursor: pointer;
		text-decoration: underline;
}

h3 + * {
		display: none;
}
h3,
p { margin-bottom: 0;
}

ol {
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 5px;
}
img {
	display: block;
	margin: 0 auto;
	border: 30px solid black;
	border-radius: 40%;
	transition: transform 1s;
}
img:hover {
	transform: rotate (180deg) scale(1.2);
}

p,
ul,
ol {
	line-height: 1.7;
	list-style: none;
	padding-left: 0;
}

a {
	font-weight: bold;
	color: magenta;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: pink;
}